<template>
  <div>
    <todo-item @AddTodo="AddTodo"/>
    <todo-list :todos="todos"/>
  </div>
</template>

<script>
// コンポーネント読み込み
import TodoItem from '@/components/TodoItem.vue';
import TodoList from '@/components/TodoList.vue';

export default {
  name: 'Todo',
  components: {
    TodoItem,
    TodoList,
  },
  data() {
    return {
      todos: [],
    };
  },
  methods: {
    AddTodo(value) {
      if (value) {
        this.todos.unshift({ text: value });
      }
    },
  },
};
</script>
index
import Vue from 'vue';
import VueRouter from 'vue-router';
import Home from '../views/Home.vue';
import Todo from '@/views/Todo.vue';

Vue.use(VueRouter);

const routes = [
{
path: '/',
name: 'Home',
component: Home,
},
{
path: '/todo',
name: 'Todo',
component: Todo,
},
{
path: '/about',
name: 'About',
// route level code-splitting
// this generates a separate chunk (about.[hash].js) for this route
// which is lazy-loaded when the route is visited.
component: () => import(/* webpackChunkName: "about" */ '../views/About.vue'),
},
];

const router = new VueRouter({
mode: 'history',
base: process.env.BASE_URL,
routes,
});

export default router;

<style>

</style>
