<template>
  <div id="app">
    <b-navbar type="dark" variant="info">
      <b-navbar-brand to="/">My site</b-navbar-brand>

      <b-navbar-nav>
        <b-nav-item to="/todo" :active="$route.name === 'Todo'">Todo</b-nav-item>
        <b-nav-item to="/about" :active="$route.name === 'About'">About</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
    <b-container>
      <router-view />
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'App',
  computed: {
  },
  methods: {
  },
};
</script>
<style lang="scss">

</style>
